.about-us {
  @include page-grid;

  &__top {
    grid-column: 1 / -1;

    @include on-table {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__wrapper {
    grid-column: 1 / -1;

    @include on-table {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: -1 / 7;
    }
  }

  &__content {
    &--margin {
      margin: 32px 0 24px;

      @include on-table {
        margin: 0 0 24px;
      }

      @include on-desktop {
        margin: 0 0 24px;
      }
    }
  }

  &__subtitle {
    font-size: 12px;
    line-height: 140%;
    color: $colorSubtitle;

    @include font-bold;
  }

  &__work-day {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
  }

  &__address {
    margin-bottom: 16px;
    font-size: 24px;
    color: $colorTextMain;

    @include font-bold;
  }

  &__bold-text {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 27px;
    color: $colorTextMain;

    @include font-bold;

    &--small {
      min-width: 95px;
    }

    &--medium {
      min-width: 121px;
    }

    &--full {
      min-width: 100%;
    }
  }

  &__light-text {
    @include section-text-default;
  }
}
