.button {
  grid-column: 1 / -1;

  width: 100%;
  height: 56px;
  padding: 15px 0;
  border: none;

  font-family: $fontFamily;
  font-size: 16px;
  font-weight: 700;
  color: $colorText;
  text-align: center;
  text-transform: uppercase;

  background-color: $colorButton;

  transition: background-color $duration;

  &:hover {
    background-color: $colorButtonHover;
  }

  &:active {
    background-color: $colorButtonPressed;
  }
}
