.explore-online {
  &__wrapper {
    @include page-grid;
  }

  &__content {
    grid-column: 1 / -1;

    @include on-table {
      grid-column: 2 / 6;
    }

    @include on-desktop {
      grid-column: span 4;
    }

    margin-bottom: 48px;
  }

  &__photo {
    cursor: pointer;
    width: 100%;
    margin-bottom: 24px;
    transition: transform $duration;

    &:hover {
      @include image-transform;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    align-items: center;
    justify-content: center;

    width: 100%;
  }

  &__name {
    font-family: $fontFamily;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    line-height: 140%;
    color: $colorSubtitle;
    text-align: center;
    text-transform: uppercase;
  }

  &__description {
    font-family: $fontFamilySecondary;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 27px;
    color: $colorTextDefault;
    text-align: center;
  }
}
