.footer {
  width: 100%;
  height: 180px;

  background-image: url(../images/footer-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @include on-table {
    height: 360px;
  }

  @include on-desktop {
    height: 360px;
  }
}
