.form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 100%;

  &__field {
    box-sizing: border-box;
    width: 100%;
    padding: 14px 10px;
    border: 1px solid transparent;

    font-family: $fontFamily;
    font-size: 14px;
    line-height: 20px;
    color: $colorTextDefault;

    background-color: $backgroundColorInput;

    transition: border-color $duration;

    &::placeholder {
      color: $colorInputPlaceholder;
    }

    &--textarea {
      min-width: 100%;
      max-width: 100%;
      min-height: 144px;
      margin-bottom: 16px;
    }

    &:hover {
      box-sizing: border-box;
      border: 1px solid $colorInputBorderHover;
    }

    &:focus-visible {
      border: 1px solid $colorInputBorderSelected;
      outline: none;
    }
  }
}
