.icon {
  @include icon;

  transition: transform $duration;

  &--phone {
    background-image: url(../images/icons/icon-phone.svg);

    &:hover ~ .page__phone {
      visibility: visible;
      opacity: 1;
    }
  }

  &--menu {
    background-image: url(../images/icons/icon-menu.svg);

    &:hover {
      @include icon;

      background-image: url(../images/icons/icon-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(../images/icons/icon-close.svg);
  }
}
