.main {
  background-color: #fff;

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 100px;

    padding-block: 100px;
    padding-inline: 20px;

    @include on-table {
      padding-inline: 72px;
    }

    @include on-desktop {
      padding-inline: 0;
    }
  }
}
