.phone {
  position: absolute;
  top: -25px;
  right: 82px;

  @include on-table {
    right: 134px;
  }

  @include on-desktop {
    right: 134px;
  }

  width: max-content;

  visibility: hidden;
  opacity: 0;

  &:target {
    visibility: visible;
    opacity: 1;
  }

  &__tel {
    display: flex;
    flex-direction: column;
    gap: 0;

    margin: 0;
    padding: 0;

    font-family: $fontFamily;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    color: $colorMenuLink;
    text-align: right;
    text-decoration: none;

    &--primary::before {
      content: 'The Met Fifth Avenue';
    }

    &--secondary::before {
      content: 'The Met Cloisters';
    }
  }
}
