.section {
  &__title {
    font-family: $fontFamily;
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    color: $colorTitleDefault;
    text-transform: uppercase;

    @include on-table {
      font-size: 48px;
      letter-spacing: -1.5px;
    }

    @include on-desktop {
      font-size: 48px;
      letter-spacing: -1.5px;
    }

    &--center {
      text-align: center;
    }

    &--margin--bottom {
      margin-bottom: 48px;
    }
  }
}
