$navHeight: 100px;
$colorSubtitle: #d12d35;
$colorTextMain: #161616;
$colorTitle: #fff;
$colorTitleDefault: #161616;
$colorText: #fff;
$colorTextDefault: #000;
$colorBorderHover: #fff;
$textSize: 16px;
$backgroundColorPage: #fff;
$backgroundColorMenu: #d12d35;
$backgroundColorNav: #e5e5e5;
$colorIcon: #fff;
$colorMenu: #d12d35;
$colorMenuLink: #fff;
$colorButton: #d12d35;
$colorButtonHover: #ae1c23;
$colorButtonPressed: #eb343d;
$colorTextButton: #fff;
$colorInputPlaceholder: #7e7e83;
$colorInputBorderHover: #d5d7de;
$colorInputBorderSelected: #161616;
$backgroundColorInput: #f8f8fa;
$widthIcon: 24px;
$heightIcon: 24px;
$fontFamily: Cinzel, sans-serif;
$fontFamilySecondary: Roboto, sans-serif;
$contentMaxWidth: 1020px;
$bp-small: 488px;
$bp-medium: 768px;
$bp-large: 1024px;
$bp-very-large: 1096px;
$duration: 300ms;
$scaleSize: 1.02;
